html {
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
    overflow-x: hidden;
}

.logo {
    width: 9.25rem;
    height: 2.5rem;
    color: rgb(229, 9, 20);
    fill: currentColor;
    display: block;
    position: relative;
    z-index: 8;
}

.sign button {
    background-color: rgb(229, 9, 20);
    color: white;
    font-size: small;
    font-weight: 550;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    padding-top: 5vh;
    padding-left: 10vw;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(/Images/1\ \(1\).jpg);
    background-color: black;
    position: relative;
    z-index: 20;

}

header .box {
    background-color: rgba(0, 0, 0, 0.68);
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 20;

}

.main .center h1 {
    text-align: center;

}

.main .center h3 {
    text-align: center;
    padding: 3%;

}

.center {
    height: 85vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center h1 span {
    font-size: 50px;
    font-weight: bolder;

}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.email {
    display: flex;

    margin-top: 3%;
    gap: 10px;
}

.email button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 213px;
    background-color: #E50914;
    border: none;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 7px;
}

.email input {
    height: 52px;
    border-radius: 7px;
    width: 366px;
    background-color: rgba(0, 0, 0, 0.473);
    border: 1px solid #B9B9B9;

}

.email input::placeholder {
    color: #B9B9B9;
    font-size: 15px;
    padding: auto;
    padding-left: 10px;
}

.hero svg {
    position: absolute;
    bottom: -55px;
    z-index: 20;



    width: 100%;
    height: 100px;
}

.jugar {
    height: 5vh;
    width: 75vw;
    position: absolute;
    background-color: #0a0f3c;
    border-radius: 50%;
    margin-left: 15vw;
    z-index: 10;
    bottom: -10px;
    box-shadow: inset 12px 38px #0A0F3C;
    box-shadow: 0 12px 38px #0a0f3cb5;

}

.hero {
    position: relative;
    z-index: 20;

}

main .trend{
    margin: 10vh 10vw;
}

.trending-movies-images {
    display: flex;
   
    align-items: center;
overflow-x: scroll;
    width: 80vw;
    margin: 10px;
    
    gap: 15px;
}

.trending-movies-images img {
    border-radius: 10px;
   
}

.trending-movies-images::-webkit-scrollbar {
    display: none;
}

.trending-movies-images button {


    width: 2vw;
    background-color: #1A1A1A;
    color: white;
    font-size: auto;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.main-images-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.images-button {
    background-color: #0F0F0F;
    height: 100px;
    width: 22px;
    border: none;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.reasons .div {
    height: 295px;
    width: 230px;
    background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    padding: auto;

}

.reasons {
    display: flex;
    flex-wrap: wrap;

    gap: 20px;
    justify-content: center;
    align-items: center;

}

.more-reason {
    padding: 5vh 5vw;
    padding-top: 10vh;
    padding-left: 12vw;
}

.div h2,
p {
    padding: 8px;
}

.div h2 {
    padding-top: 25px;
}

.faqs div {
    height: 12vh;
    width: 80vw;
    background-color: #2D2D2D;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;


}

.faqs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-direction: column;
}

.TV {
    margin-left: 140px;
    margin-top: 60px;
}

.Download {
    margin-top: 20px;
    margin-left: 130px;
}

.scope {
    margin-left: 130px;
    margin-top: 80px;
}

.kids {
    margin-top: 35px;
    margin-left: 125px;
}

#joining {
    padding: 50px 140px;

}

.faqs-question {
    font-size: 25px;
    padding-left: 24px;
}

.faqs div span {
    padding-right: 24px;
    /* font-weight: 100; */
}

#footer-email {
    width: 43vw;
    padding-top: 0px;
    margin: 0;


}

.footer-line {
    text-align: center;
    padding-top: 60px;

    margin: 0;

}

.footer-email-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 0;
}

.links-list {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    color: #B3B3B3;

    gap: 11px;
}

.main-center {
    padding-left: 10vw;
}

.top-foorter-link {
    padding: 50px 0;
    color: #B3B3B3;

}

.links-list a {
    color: #B3B3B3;
    font-size: 0.875rem;
    line-height: 1.5;
}

.faqs-question span {
    font-weight: 0;
}

.footer-button select {
    background-color: #0F0F0F;
    border-radius: 4px;
    padding: 6px 40px;
    margin: 40px 0;

}

.label {
    padding: 60px 0;
}

.The-end {
    padding: 60px 0;
    padding-bottom: 170px;
    font-size: small;}

.trending-movies-images img:hover{
    border: 1px solid gray;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
   
}




























   






@media (max-width: 725px) {
    .main .center h1 span {
        font-size: 30px;
        
    }
    .center{
        width: 80vw;
    }
    .email{
        flex-direction: column;
        align-items: center;
    }
    .email button{
    
    
    height: 45px;
    width: 135px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 5px;
    }
    .more-reason {
       text-align: center;
    }
    #joining{
        text-align: center;
    }
    #footer-email {
     width: 70vw;
    }
    .email input {
            width: 65vw;
    }
    .faqs div {
            height: 8vh;
    width: 76vw;
    }
    .faqs-question {
            font-size: 15px;
    }
    .links-list {
        grid-template-columns: 1fr 1fr;
    }
 
        .jugar {
    height: 4vh;
    }
    }



